@import url('https://fonts.googleapis.com/css2?family=Londrina+Outline&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Inter, sans-serif; /* Set Montserrat as the default font */
}

html {
  scroll-behavior: smooth;
}

/* Make the featured project card bigger */
.featured-project-wrapper .relative.h-\[400px\].md\:h-\[500px\] {
  height: 500px;
}

@media (min-width: 768px) {
  .featured-project-wrapper .relative.h-\[400px\].md\:h-\[500px\] {
    height: 650px;
  }
}
