@import url('https://fonts.googleapis.com/css2?family=Londrina+Outline&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

@font-face {
  font-family: "Sugo Pro Display";
  src: url("/fonts/sugo_pro_display/Sugo-Pro-Display-Regular-trial.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Sugo Pro Display";
  src: url("/fonts/sugo_pro_display/Sugo-Pro-Display-Italic-trial.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Sugo Pro Display";
  src: url("/fonts/sugo_pro_display/Sugo-Pro-Display-Bold-trial.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Sugo Pro Display";
  src: url("/fonts/sugo_pro_display/Sugo-Pro-Display-Bold-Italic-trial.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Sugo Pro Display";
  src: url("/fonts/sugo_pro_display/Sugo-Pro-Display-Light-trial.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Sugo Pro Display";
  src: url("/fonts/sugo_pro_display/Sugo-Pro-Display-Thin-trial.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Sugo Pro Display";
  src: url("/fonts/sugo_pro_display/Sugo-Pro-Display-ExtraLight-trial.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}


@tailwind base;
@tailwind components;
@tailwind utilities;

.inria-sans-bold {
  font-family: "Inria Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.inria-serif-regular {
  font-family: "Inria Serif", serif;
  font-weight: 400;
  font-style: normal;
}

.inria-serif-bold {
  font-family: "Inria Serif", serif;
  font-weight: 700;
  font-style: normal;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-header: "Sugo Pro Display", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Inria Sans,Inter, sans-serif; /* Set Montserrat as the default font */
}

html {
  scroll-behavior: smooth;
}

/* Make the featured project card bigger */
.featured-project-wrapper .relative.h-\[400px\].md\:h-\[500px\] {
  height: 500px;
}

@media (min-width: 768px) {
  .featured-project-wrapper .relative.h-\[400px\].md\:h-\[500px\] {
    height: 650px;
  }
}
